.circleci/
.devcontainer/
.elixir_ls/
.git
.github/
.vscode/
_build/
assets/node_modules/
assets/__mocks__/
assets/__tests/
assets/fixtures/
deps/
docs/
priv/static/
test/
*.zip
*.text
*.csv
terraform/
node_modules/
.gitignore
Dockerfile
README.md
